<html>
  <blink>Hello World!</blink>
  <div id="date">
    {{.Date}}
  </div>
  <div id="host">
    {{.Hostname}}
  </div>
  <div id="scalegroup">
    {{.ScaleGroup}}
  </div>
  <div id="req">
    Request was:
    {{.Request}}
  </div>
</html>